*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: #514FEE;
}
.ayp{
    width: 40vw;
    height: 10vw;
}